/* * {
 /*  font-family: kalam, cursive; */

 #personalpic {
  height: 22em;
  width: 17em;
  
 }

.header-background {
    background-color: rgb(223, 193, 193);
    height: 132vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/wave-1817646_1920.png);
  
  }
  
  .aboutme {
    font-family: kalam, cursive;
    font-size: larger;
  }

  .navfonts {
    font-family: kalam, cursive;
    font-size: x-large;

  }

  